.App {
  text-align: center;
}

#signin {
  background-color: #7181a0;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 10px;
}


#signedIn {
  
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: calc(3px + 2vmin);

}

.formLabel {
      margin: 10px;
    float: left;
}

